<launch>
	<!-- Spawn the controllers. -->
    <rosparam file="$(find dynamite)/launch/controller.yaml" command="load" />
	<node
		name="controller_spawner"
		pkg="dynamixel_controllers"
		type="controller_spawner.py"
		args="	--manager=dxl_manager
				--port pi_out_port
				wheel_cont
			 "
		output="screen"/>
</launch>
